<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Logstash TCP Appender 추가 -->
    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>localhost:5000</destination>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp/>
                <message/>
                <logLevel/>
                <threadName/>
                <loggerName/>
                <contextName/>
                <stackTrace/>
                <mdc/>
            </providers>
        </encoder>
    </appender>

    <!-- 루트 로거 설정 -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
        <appender-ref ref="LOGSTASH"/>
    </root>
</configuration>